@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");

@import "tailwindcss";

@layer base {
  :root {
    --color-background: #121212;
    --color-background-secondary: #1e1e1e;
    --color-text-primary: #e0e0e0;
    --color-text-secondary: #a0a0a0;
    --color-accent: #3d5afe;
    --color-border: #2c2c2c;
    --color-hover: #5c6bc0;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
  }

  .font-press-start {
    font-family: "Press Start 2P";
  }

  .font-silkscreen {
    font-family: "Silkscreen";
  }

  .font-chakra {
    font-family: "Chakra Petch";
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "Press Start 2P";
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  opacity: 0;
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in {
  opacity: 0;
  animation: slideIn 0.8s ease-out forwards;
}
